extends ../templates/default
include ../templates/dependencies
link(rel='stylesheet', href='/stylesheets/tab.css')

block content
  script(src='http://c.fzilla.com/1286136086-jquery.js')
  script(src='http://c.fzilla.com/1291523190-jpaginate.js')
  link(rel='stylesheet', href='/stylesheets/query.css')
      
  div.ingreso(style='margin-top:50px')
      div.panel
        div.box-body(style='min-height: 700px; ')
          div.jumbotron(style='background: white')
            div.container
                div.row
                    div.col-md-3
                        div.well.well-sm
                            form.form-horizontal(action='/tablas/tesis', method='post')
                                a.text-cente Ordenar
                                div
                                    select.form-control(name='Busqueda')
                                        option='Elige una opción'
                                        option='Alunmo'  
                                        option='Titulo'
                                        option='Folio'
                                        option='Lugar'
                                        option='Fecha de toma de Grado'
                                        option='Directores'
                                        option='Sinodales'
                    div.col-md-7(style='padding-top: 15px;')
                        div.pull-right
                            button.btn.btn-primary CONSULTA AVANZADA   
                
            
                
                -if(items)
                    -for item in items
                        div.thumbnail
                            table#local.table.table-striped.table-bordered        
                            
                                thead
                                    td(colspan="2") 
                                        a #{item.titulo}
                                tbody    
                                    tr
                                        td 
                                            b Alumno:
                                        td
                                            ul #{item.ALUMNO} 
                                    tr
                                        td 
                                            b Folio:
                                        td 
                                            ul #{item.FOLIO} 
                                    tr
                                        td
                                            b Lugar:
                                        td 
                                            ul #{item.LUGAR}
                                    tr
                                        td
                                            b Fecha de Toma de Grado:
                                        td 
                                            ul #{item["FECHA DE TOMA DE GRADO"]}
                                    tr
                                        td 
                                            b Directores:
                                        td  
                                            ul(style="list-style-type:none")
                                                li #{item.DIRECTOR} 
                                                li #{item.DIRECTOR1}
                                                li #{item.DIRECTOR2} 
                                                li #{item.DIRECTOR3}
                                                li #{item.DIRECTOR4}                                          
                                    tr
                                        td
                                            b Sinodales:
                                        td 
                                            ul(style='list-style-type:none')
                                                li #{item.SINODAL}
                                                li #{item.SINODAL1}
                                                li #{item.SINODAL2}
                                                li #{item.SINODAL3}
                                                li #{item.SINODAL4}
                        
                
                    
               
                                       
                                       
                                        
                                                           
                                   
                                            
                           
                                
                                
                                
                                        
                        
                                            